.card-layout {
    border: 2px solid lightgreen;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 131px;
}

.card {
    overflow: hidden;
    border-radius: 30px;
}

.light-mode .card {
    background: var(--lightCard);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.dark-mode .card {
    background: var(--darkCardRim);
    box-shadow: 0px 0px 17px #000000;
}

.dark-mode .card::after {
    background-color: var(--darkCard);
    content: '';
    position: absolute;
    margin: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 29px;
}


.contact-card-layout {
    border: 2px solid lightgreen;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 131px;
}

.contact-card {
    background: var(--lightCard);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 16px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 80px;
}

.card-full-width {
    height: 374px;
}

.card-half-width {
    height: 374px;
}

.card h3 {
    padding-left: 40px;
    padding-top: 39px;
}

.card p {
    margin-left: 40px;
    margin-top: 12px;
}

