footer {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-mode footer {
    background-color: var(--lightFooter);
}

.dark-mode footer {
    background-color: var(--darkFooter);
}

/* iPhone 14 Plus */
@media (max-width: 740px) {

    .footer-text {
        width: 233px;
    }

}