footer {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light-mode footer {
    background-color: var(--lightFooter);
}

.dark-mode footer {
    background-color: var(--darkFooter);
}
