#hero {
    display: flex;
    justify-content: space-between;
    height: 95lvh;
    min-height: 561px;
    max-height: 700px;
    align-items: center;
    transform: translateY(-30px);
}

#hero-left {
    width: 621px;
}

#hero h1 {
    margin-top: 16px;
}

#hero p {
    margin-top: 15px;
}

#hero-card {
    position: relative;
    width: 355px;
    height: 430px;
}

.hero-image {
    position: absolute;
    left: 8px;
    top: 8px;
}

#hero-image-desktop {
    width: 339px;
    height: 414px;
}

#hero-image-tablet {
    width: 329px;
    height: 414px;
    display: none;
}

#hero-image-medium-skinny {
    width: 309px;
    height: 414px;
    display: none;
}


#locations-container {
    display: flex;
    gap: 87px;
    margin-top: 26px;
}

.location {
    display: flex;
    gap: 12px;
    align-items: center;
}

.light-mode .location-icon-dark-mode {
    display: none;
}

.dark-mode .location-icon-light-mode {
    display: none;
}

/* iPad Pro 11" Landscape */
@media (max-width: 1200px) {

    #hero-left {
        width: 567px;
    }

    #location-icon {
        height: 26px;
    }
    
}

/* iPad Pro 12.9" Portrait */
@media (max-width: 1120px) {

    #hero-left {
        width: 483px;
    }

    #hero h1 {
        margin-top: 10px;
    }
    
    #location-icon {
        height: 26px;
    }

    #hero-card {
        width: 345px;
    }
    
    #hero-image-desktop {
        display: none;
    }
    
    #hero-image-tablet {
        display: inline;
    }

    #hero-image-medium-skinny {
        display: none;
    }

}

/* iPad Pro 11" Portrait */
@media (max-width: 970px) {

    #hero-left {
        width: 409px;
    }

    #hero h1 {
        margin-top: 8px;
    }

    #location-icon {
        height: 26px;
    }

    #hero-card {
        width: 325px;
    }

    #hero-image-desktop {
        display: none;
    }

    #hero-image-tablet {
        display: none;
    }

    #hero-image-medium-skinny {
        display: inline;
    }

    #locations-container {
        gap: 60px;
    }
    

}