.post {
    width: 600px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 90px;
}

.post-image {
    position: relative;
    height: 347px;
    margin-top: 20px;
    margin-bottom: 45px;
    z-index: 10;
    /* border: 2px solid red; */
}

.post-image .image-text {
    text-align: center;
    margin-top: 4px;
    width: 100%;
}

.post-image a { text-decoration: underline; }

.post h2 {
    position: relative;
    z-index: 11;
}

/* Post introduction */

.post-intro { margin-top: 12px; }

.post-intro p.paragraph-small {
    line-height: 26px;
}

.light-mode .post-intro p.paragraph-small {
    color: var(--lightText);
}

.dark-mode .post-intro p.paragraph-small {
    color: var(--darkText);
}

.info-items {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
}

.info-item-desktop { display: inline-flex; }

.info-item-mobile { display: none; }

p.info-item-header {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.light-mode p.info-item-header {
    color: var(--lightBodyText);
}

.dark-mode p.info-item-header {
    color: var(--darkBodyText);
}

/* Post body */

.post-body h3 {
    margin-top: 44px;
    margin-bottom: -10px;
}

.post-body p { margin-top: 18px; }

.post-body a {text-decoration: underline;}

blockquote {
    margin-left: 4px;
    padding-left: 14px;
}

.light-mode blockquote {
    border-left: 1px solid var(--lightBodyText);
}

.dark-mode blockquote {
    border-left: 1px solid var(--darkBodyText);
}

sup {  line-height: 0; }

.body-image {
    position: relative;
    width: fit-content;
    margin: 40px auto;
    /* border: 2px solid red; */
}

.body-image-side-by-side {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.body-image img,
.body-image video {
    margin: 0 auto;
    display: block;
}

.body-image .image-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 440px;
    margin-top: 14px;
}

.colored-section {
    position: relative;
    margin-top: 30px;
}

.colored-section-background {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1;
    left: 50%;
    margin-left: -50vw;
}

.light-mode .colored-section-background {
    background-color: var(--lightFooter);
}

.dark-mode .colored-section-background {
    background-color: var(--darkFooter);
}

.colored-section-content {
    z-index: 2;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.colored-section h3 { margin-top: 0; }

.post ol { margin-left: 28px; }

.post li { padding-left: 8px; }

.post li p { margin-top: 6px; }

.post li:first-child { margin-top: 18px; }

p.code {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#code-mobile { display: none; }

#code-mobile-small {  display: none; }

#post-footnotes a { word-break: break-all; }

hr {
    width: 40%;
    margin-top: 50px;
}

.light-mode hr { border: 0.5px solid var(--lightBodyText); }

.dark-mode hr { border: 0.5px solid var(--darkBodyText); }

.footnote-number { text-decoration: none !important;}

/* Kenboard post */

#kenboard-demo-image-full-length {
    position: absolute;
    width: 366px;
    left: -32px;
    top: -42px;
}

.light-mode #kenboard-demo-image-full-length {
    filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.4));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #kenboard-demo-image-full-length {
    filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.7));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

#kenboard-demo-video {
    position: absolute;
    width: 262px;
    left: 16px;
    top: 87px;
}

#kenboard-splash-full-length {
    position: absolute;
    width: 180px;
    left: 346px;
    top: -3px;
}

#kenboard-debug-full-length {
    position: absolute;
    width: 180px;
    left: 426px;
    top: -3px;
}

.light-mode #kenboard-splash-full-length,
.light-mode #kenboard-debug-full-length {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #kenboard-splash-full-length,
.dark-mode #kenboard-debug-full-length {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.8));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-top: 40px;
}

#kenboard-proof-of-concept { width: 235px; }

.light-mode #kenboard-proof-of-concept {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #kenboard-proof-of-concept {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.8));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

#kenboard-proof-of-concept-video {
    position: absolute;
    left: 135px;
    top: 33px;
    width: 180px;
}

#kenboard-naive-approach { width: 360px; }

#kenboard-letter-combinations { width: 500px; }

#kenboard-pattern-skew { width: 560px; }

.light-mode #kenboard-naive-approach,
.light-mode #kenboard-letter-combinations,
.light-mode #kenboard-pattern-skew {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.dark-mode #kenboard-naive-approach,
.dark-mode #kenboard-letter-combinations,
.dark-mode #kenboard-pattern-skew {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

/* Personal website post */

.personal-website-safari-full {
    position: absolute;
    width: 416px;
    bottom: 0;
}

.light-mode .personal-website-safari-full {
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.3));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode .personal-website-safari-full {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.8));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.light-mode #personal-website-safari-full-dark-mode,
.dark-mode #personal-website-safari-full-light-mode { display: none; }

.personal-website-ipad {
    position: absolute;
    width: 235px;
    left: 328px;
    bottom: -3px;
}

.light-mode .personal-website-ipad {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode .personal-website-ipad {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.8));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.light-mode #personal-website-ipad-dark-mode,
.dark-mode #personal-website-ipad-light-mode { display: none; }

.personal-website-iphone-full {
    position: absolute;
    width: 106px;
    left: 497px;
    bottom: -2px;
}

.light-mode .personal-website-iphone-full {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.6));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode .personal-website-iphone-full {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.9));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.light-mode #personal-website-iphone-full-dark-mode,
.dark-mode #personal-website-iphone-full-light-mode {
    display: none;
}

#personal-website-post .info-items {
    justify-content: left;
    gap: 80px;
}

#personal-website-responsive-desktop-light-mode,
#personal-website-responsive-mobile-light-mode {
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

#personal-website-responsive-desktop-dark-mode,
#personal-website-responsive-mobile-dark-mode {
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.light-mode #personal-website-responsive-desktop-dark-mode,
.light-mode #personal-website-responsive-mobile-dark-mode,
.dark-mode #personal-website-responsive-desktop-light-mode,
.dark-mode #personal-website-responsive-mobile-light-mode { display: none; }

#personal-website-hover-dark-mode,
#personal-website-hover-light-mode { width: 280px; }

.light-mode #personal-website-hover-light-mode {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

.light-mode #personal-website-hover-dark-mode {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.dark-mode #personal-website-hover-light-mode {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.dark-mode #personal-website-hover-dark-mode {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

#personal-website-navmenu-mobile-light-mode,
#personal-website-navmenu-mobile-dark-mode { width: 260px; }

.light-mode #personal-website-navmenu-mobile-dark-mode,
.dark-mode #personal-website-navmenu-mobile-light-mode { display: none; }

#personal-website-collapse-light-mode,
#personal-website-collapse-dark-mode { width: 360px; }

.light-mode #personal-website-collapse-dark-mode,
.dark-mode #personal-website-collapse-light-mode { display: none; }

#personal-website-collapse-light-mode, 
#personal-website-navmenu-mobile-light-mode {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}

#personal-website-collapse-dark-mode,
#personal-website-navmenu-mobile-dark-mode {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

/* Happy Day post */

#happy-day-post .post-image {
    margin-bottom: 10px;
}

#happy-day-home-full {
    position: absolute;
    width: 474px;
}

#happy-day-menu-full {
    position: absolute;
    width: 439px;
    left: 110px;
    top: 12px;
}

#happy-day-location-full {
    position: absolute;
    width: 399px;
    left: 201px;
    top: 22px;
}

.light-mode #happy-day-home-full,
.light-mode #happy-day-menu-full,
.light-mode #happy-day-location-full {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #happy-day-home-full,
.dark-mode #happy-day-menu-full,
.dark-mode #happy-day-location-full {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

/* HCII REU post */

#hcii-reu-post .post-image {
    height: fit-content;
    margin-top: 70px;
    margin-bottom: 35px;
}

#hcii-reu-landscape { width: 100%; }

.light-mode #hcii-reu-landscape {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dark-mode #hcii-reu-landscape {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#hcii-reu-post-logos {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light-mode #hcii-reu-cmu-logo-dark-mode,
.dark-mode #hcii-reu-cmu-logo-light-mode { display: none; }

#hcii-reu-hcii-logo-light-mode,
#hcii-reu-hcii-logo-dark-mode { width: 208px; }

.light-mode #hcii-reu-hcii-logo-dark-mode,
.dark-mode #hcii-reu-hcii-logo-light-mode { display: none; }

.light-mode #hcii-reu-mclearn-logo-dark-mode,
.dark-mode #hcii-reu-mclearn-logo-light-mode { display: none; }


/* iPhone 14 Plus */
@media (max-width: 740px) {

    .post {  width: 100%;  }

    p.info-item-header {
        font-size: 12px;
        line-height: 15px;
    }

    .info-item-desktop { display: none; }

    .info-item-mobile { display: inline-flex; }

    .body-image .image-text { width: 360px; }

    #code-desktop { display: none; }

    #code-mobile { display: block; }

    #code-mobile-small { display: none; }

    hr { width: 30%; }

    #kenboard-demo-image-full-length { left: 14px; }
    
    #kenboard-demo-video { left: 62px; }
    
    #kenboard-splash-full-length,
    #kenboard-debug-full-length { display: none; }

    #kenboard-proof-of-concept { width: 220px; }

    #kenboard-proof-of-concept-video {
        left: 101px;
        top: 31px;
        width: 168px;
    }

    #kenboard-naive-approach { width: 280px; }

    #kenboard-letter-combinations,
    #kenboard-pattern-skew { width: 380px; }

    #personal-website-post .post-image { height: 240px; }

    .personal-website-ipad { display: none; }

    .personal-website-safari-full { width: 369px; }

    .personal-website-iphone-full { left: 291px; }

    #personal-website-post .info-items {
        justify-content: space-between;
        gap: 0;
    }

    #personal-website-responsive-desktop-light-mode,
    #personal-website-responsive-desktop-dark-mode,
    #personal-website-responsive-mobile-light-mode,
    #personal-website-responsive-mobile-dark-mode {
        height: 214px;
    }

    #body-image-hover { flex-direction: column; }

    #personal-website-hover-dark-mode,
    #personal-website-hover-light-mode {
        width: 240px;
    }

    #personal-website-navmenu-mobile-light-mode,
    #personal-website-navmenu-mobile-dark-mode {
        width: 240px;
    }

    #personal-website-collapse-light-mode,
    #personal-website-collapse-dark-mode {
        width: 300px;
    }

    #happy-day-post .post-image { height: 250px; }

    #happy-day-home-full { width: 340px; }
    
    #happy-day-menu-full {
        width: 314px;
        left: 80px;
        top: 9px;
    }
    
    #happy-day-location-full { display: none; }
    
    #hcii-reu-cmu-logo-light-mode,
    #hcii-reu-cmu-logo-dark-mode {
        width: 95px;
    }

    #hcii-reu-hcii-logo-light-mode,
    #hcii-reu-hcii-logo-dark-mode {
        width: 127px;
    }

    #hcii-reu-mclearn-logo-light-mode,
    #hcii-reu-mclearn-logo-dark-mode {
        width: 72px;
    }
    
}

/* iPhone 14 */
@media (max-width: 424px) {

    .post { width: 340px; }

    .body-image .image-text { width: 324px; }

    #code-mobile { display: none; }

    #code-mobile-small { display: block; }

    #kenboard-demo-image-full-length { left: -14px; }

    #kenboard-demo-video { left: 34px; }

    #kenboard-proof-of-concept-video { left: 83px; }

    #kenboard-naive-approach { width: 280px; }

    #kenboard-letter-combinations,
    #kenboard-pattern-skew { width: 334px; }

    #personal-website-post .post-image { height: 220px; }

    .personal-website-safari-full { width: 100% }

    .personal-website-iphone-full { display: none; }

    #personal-website-responsive-desktop-light-mode,
    #personal-website-responsive-desktop-dark-mode,
    #personal-website-responsive-mobile-light-mode,
    #personal-website-responsive-mobile-dark-mode { height: 198px; }

    #happy-day-post .post-image { height: 215px; }

    #happy-day-home-full { width: 294px; }
    
    #happy-day-menu-full {
        width: 271px;
        left: 69px;
        top: 8px;
    }

}
