/* Kenboard post */

#kenboard-demo-image-full-length {
    position: absolute;
    width: 366px;
    left: -32px;
    top: -42px;
}

.light-mode #kenboard-demo-image-full-length {
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.2));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #kenboard-demo-image-full-length {
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.5));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

#kenboard-demo-video {
    position: absolute;
    width: 262px;
    left: 16px;
    top: 87px;
}

#kenboard-splash {
    position: absolute;
    width: 180px;
    left: 346px;
    top: -3px;
}

#kenboard-debug {
    position: absolute;
    width: 180px;
    left: 426px;
    top: -3px;
}

.light-mode #kenboard-splash,
.light-mode #kenboard-debug {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.5));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #kenboard-splash,
.dark-mode #kenboard-debug {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.8));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    margin-top: 40px;
}

#kenboard-proof-of-concept { width: 235px; }

.light-mode #kenboard-proof-of-concept {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #kenboard-proof-of-concept {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.8));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

#kenboard-proof-of-concept-video {
    position: absolute;
    left: 135px;
    top: 33px;
    width: 180px;
}

#kenboard-naive-approach { width: 360px; }

#kenboard-letter-combinations { width: 500px; }

#kenboard-pattern-skew { width: 560px; }

.light-mode #kenboard-naive-approach,
.light-mode #kenboard-letter-combinations,
.light-mode #kenboard-pattern-skew {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}

.dark-mode #kenboard-naive-approach,
.dark-mode #kenboard-letter-combinations,
.dark-mode #kenboard-pattern-skew {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}


/* iPhone 14 Plus */
@media (max-width: 740px) {

    #kenboard-demo-image-full-length { left: 14px; }
    
    #kenboard-demo-video { left: 62px; }
    
    #kenboard-splash,
    #kenboard-debug { display: none; }

    #kenboard-proof-of-concept { width: 220px; }

    #kenboard-proof-of-concept-video {
        left: 101px;
        top: 31px;
        width: 168px;
    }

    #kenboard-naive-approach { width: 280px; }

    #kenboard-letter-combinations,
    #kenboard-pattern-skew { width: 380px; }

}

/* iPhone 14 */
@media (max-width: 424px) {

    #kenboard-demo-image-full-length { left: -14px; }

    #kenboard-demo-video { left: 34px; }

    #kenboard-proof-of-concept-video { left: 83px; }

    #kenboard-naive-approach { width: 280px; }

    #kenboard-letter-combinations,
    #kenboard-pattern-skew { width: 334px; }

}