#kenboard-card {
    grid-column: span 2;
    position: relative;
}

#kenboard-card p {
    width: 502px;
}

#kenboard-demo-image {
    position: absolute;
    width: 324px;
    left: 28px;
    bottom: 0;
    filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.4));
    /* to fix safari filter drop-shadow rendering issue: */
    transform: translateZ(0)
}

#kenboard-demo-video {
    position: absolute;
    width: 262px;
    left: 57px;
    bottom: 77px;
}

#kenboard-splash {
    position: absolute;
    width: 180px;
    left: 576px;
    bottom: 0;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
    /* to fix safari filter drop-shadow rendering issue: */
    transform: translateZ(0)
}

#kenboard-debug {
    position: absolute;
    width: 180px;
    left: 721px;
    top: 13px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
    /* to fix safari filter drop-shadow rendering issue: */
    transform: translateZ(0)
}

#personal-website-card p {
    width: 393px;
}

#happy-day-card {
    position: relative;
}

#happy-day-home {
    position: absolute;
    width: 326px;
    bottom: 0;
    right: 0;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}

#happy-day-menu {
    position: absolute;
    width: 348px;
    left: 48px;
    top: 220px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
}