#kenboard-card {
    grid-column: span 2;
    position: relative;
}

#kenboard-card p {
    width: 502px;
}

#kenboard-demo-image {
    position: absolute;
    width: 324px;
    left: 28px;
    top: 164px;
    filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.4));
    /* to fix safari filter drop-shadow rendering issue: */
    transform: translateZ(0);
}

#kenboard-demo-video {
    position: absolute;
    width: 262px;
    left: 57px;
    top: 257px;
}

#kenboard-splash {
    position: absolute;
    width: 180px;
    left: 596px;
    top: 90px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
    /* to fix safari filter drop-shadow rendering issue: */
    transform: translateZ(0);
}

#kenboard-debug {
    position: absolute;
    width: 180px;
    left: 741px;
    top: 13px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
    /* to fix safari filter drop-shadow rendering issue: */
    transform: translateZ(0);
}

.dark-mode #kenboard-card .card-images {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-radius: 29px;
}

#personal-website-card p {
    width: 393px;
}

#happy-day-card {
    position: relative;
}

#happy-day-home {
    position: absolute;
    width: 326px;
    top: 173px;
    left: 182px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    /* to fix safari filter drop-shadow rendering issue: */
    transform: translateZ(0);
}

#happy-day-menu {
    position: absolute;
    width: 348px;
    left: 40px;
    top: 220px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    /* to fix safari filter drop-shadow rendering issue: */
    transform: translateZ(0);
}

.dark-mode #happy-day-card .card-images {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-radius: 29px;
}

/* iPad Pro 11" Landscape */
@media (max-width: 1200px) {

    #happy-day-home {
        left: 161px;
    }

    #kenboard-splash {
        left: 576px;
    }

    #kenboard-debug {
        left: 721px;
    }

}

/* iPad Pro 12.9" Portrait */
@media (max-width: 1120px) {

    #kenboard-card p {
        width: 409px;
    }

    #kenboard-splash {
        left: 483px;
    }

    #kenboard-debug {
        left: 628px;
    }

    #personal-website-card p {
        width: 341px;
    }

    #happy-day-home {
        left: 104px;
        top: 189px;
    }
    
    #happy-day-menu {
        top: 224px;
    }
    
}

/* iPad Pro 11" Portrait */
@media (max-width: 970px) {

    #kenboard-card p {
        width: 409px;
    }

    #kenboard-splash {
        top: 122px;
        left: 399px;
    }

    #kenboard-debug {
        left: 544px;
    }

    #happy-day-home {
        left: 104px;
        top: 187px;
    }
    
    #happy-day-menu {
        top: 222px;
    }

}

/* iPad Mini Portrait */
@media (max-width: 830px) {

    #kenboard-card p {
        width: 409px;
    }

    #kenboard-demo-image {
        left: 17px;
        top: 164px;
    }
    
    #kenboard-demo-video {
        left: 46px;
        top: 257px;
    }
    

    #kenboard-splash {
        top: 122px;
        left: 369px;
    }

    #kenboard-debug {
        left: 502px;
    }

    #happy-day-home {
        left: 77px;
        top: 187px;
    }
    
    #happy-day-menu {
        left: 22px;
        top: 222px;
    }

}

/* iPhone 14 Plus */
@media (max-width: 740px) {

    #kenboard-card {
        grid-column: span 1;
    }

    #kenboard-card p {
        width: 320px;
    }

    #kenboard-demo-image {
        left: 14px;
        top: 138px;
    }
    
    #kenboard-demo-video {
        left: 43px;
        top: 231px;
    }
    
    #kenboard-splash {
        display: none;
    }

    #kenboard-debug {
        display: none;
    }

    #personal-website-card p {
        width: 335px;
    }

    #happy-day-home {
        width: 263px;
        left: 131px;
        top: 138px;
    }
    
    #happy-day-menu {
        width: 289px;
        left: 28px;
        top: 164px;
    }

}

/* iPhone 14 */
@media (max-width: 424px) {

    #kenboard-demo-image {
        left: 11px;
    }

    #personal-website-card p {
        width: 283px;
    }

    #happy-day-home {
        left: 118px;
        top: 138px;
    }
    
    #happy-day-menu {
        left: 28px;
        top: 164px;
    }

}

