/* Kenboard */

#kenboard-card {
    grid-column: span 2;
    position: relative;
    order: 3;
}

#kenboard-card p { width: 502px; }

#kenboard-demo-image {
    position: absolute;
    width: 324px;
    left: 28px;
    top: 164px;
}

.light-mode #kenboard-demo-image {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #kenboard-demo-image {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.7));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

#kenboard-demo-video {
    position: absolute;
    width: 262px;
    left: 57px;
    top: 257px;
}

#kenboard-splash {
    position: absolute;
    width: 180px;
    left: 596px;
    top: 90px;
}

#kenboard-debug {
    position: absolute;
    width: 180px;
    left: 741px;
    top: 13px;
}

.light-mode #kenboard-splash,
.light-mode #kenboard-debug {
    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.4));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #kenboard-splash,
.dark-mode #kenboard-debug {
    filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.8));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #kenboard-card .card-images {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-radius: 29px;
}

/* Personal website */

#personal-website-card { order: 1; }

#personal-website-card p { width: 393px; }

.personal-website-safari {
    position: absolute;
    width: 350px;
    left: 40px;
    top: 165px;
}

.light-mode .personal-website-safari {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode .personal-website-safari {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.light-mode #personal-website-safari-dark-mode,
.dark-mode #personal-website-safari-light-mode { display: none; }

.personal-website-iphone {
    position: absolute;
    width: 106px;
    left: 370px;
    top: 190px;
}

.light-mode .personal-website-iphone {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.4));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode .personal-website-iphone {
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.7));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.light-mode #personal-website-iphone-dark-mode,
.dark-mode #personal-website-iphone-light-mode { display: none; }

.dark-mode #personal-website-card .card-images {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-radius: 29px;
}

/* Happy day */

#happy-day-card { 
    position: relative; 
    order: 2;
}

#happy-day-home {
    position: absolute;
    width: 326px;
    top: 173px;
    left: 182px;
}

#happy-day-menu {
    position: absolute;
    width: 348px;
    left: 40px;
    top: 220px;
}

.light-mode #happy-day-home,
.light-mode #happy-day-menu {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #happy-day-home,
.dark-mode #happy-day-menu {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
    transform: translateZ(0); /* to fix safari drop-shadow rendering issue */
}

.dark-mode #happy-day-card .card-images {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-radius: 29px;
}

/* Actordentify */

#actordentify-card {
    grid-column: span 2;
    position: relative;
    order: 0;
}

#actordentify-card p.paragraph-small-mobile { display: none;}

#actordentify-card p { width: 400px; }

.dark-mode #actordentify-card .card-images {
    height: calc(100% - 2px);
    top: 1px;
    border-radius: 29px;
    transform: translateX(-1px)
}

#actordentify-hero-image {
    position: absolute;
    height: 100%;
    right: 0;
}

#actordentify-hero-image-mobile { display: none; }

#actordentify-fade {
    position: absolute;
    height: 100%;
    width: 97px;
    left: 430px;
    top: 0;
}

.light-mode #actordentify-fade {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.14) 11.34%, rgba(255, 255, 255, 0.78) 65.14%, rgba(255, 255, 255, 0.86) 73.27%, rgba(255, 255, 255, 0.96) 87.39%, #FFF 100%);
}

.dark-mode #actordentify-fade {
    background: linear-gradient(270deg, rgba(50, 50, 50, 0.00) 0%, rgba(50, 50, 50, 0.14) 11.34%, rgba(50, 50, 50, 0.78) 65.14%, rgba(50, 50, 50, 0.86) 73.27%, rgba(50, 50, 50, 0.96) 87.39%, #323232 100%);
}


/* iPad Pro 11" Landscape */
@media (max-width: 1200px) {

    #kenboard-splash { left: 576px; }

    #kenboard-debug { left: 721px; }

    .personal-website-iphone { left: 344px; }
    
    #happy-day-home { left: 161px; }

    #actordentify-hero-image { right: -20px;}

    #actordentify-fade { left: 400px; }

}

/* iPad Pro 12.9" Portrait */
@media (max-width: 1120px) {

    #kenboard-card p { width: 409px; }

    #kenboard-splash { left: 483px; }

    #kenboard-debug { left: 628px; }

    #personal-website-card p { width: 341px; }

    .personal-website-safari { 
        width: 330px; 
        top: 178px;
    }
    
    .personal-website-iphone { left: 294px; }

    #happy-day-home {
        left: 124px;
        top: 189px;
    }
    
    #happy-day-menu { top: 224px; }

    #actordentify-hero-image { right: -50px;}

    #actordentify-fade { left: 302px; }

    #actordentify-card p {width: 300px;}
    
}

/* iPad Pro 11" Portrait */
@media (max-width: 970px) {

    #kenboard-demo-image { left: 25px; }

    #kenboard-demo-video { left: 54px; }

    #kenboard-splash {
        top: 122px;
        left: 399px;
    }

    #kenboard-debug { left: 544px; }

    .personal-website-safari {
        width: 350px;
        top: 165px;
        left: 33px;
    }

    .personal-website-iphone { display: none; }
    
    #happy-day-card p { width: 300px; }

    #happy-day-home {
        left: 104px;
        top: 187px;
    }
    
    #happy-day-menu { 
        left: 33px;
        top: 222px; 
    }

    #actordentify-hero-image { right: -70px;}

    #actordentify-fade { 
        width: 150px;
        left: 212px; 
    }

    #actordentify-card p {width: 240px;}

}

/* iPad Mini Portrait */
@media (max-width: 830px) {

    #kenboard-demo-image {
        left: 13px;
        top: 164px;
    }
    
    #kenboard-demo-video {
        left: 42px;
        top: 257px;
    }
    
    #kenboard-splash {
        top: 122px;
        left: 369px;
    }

    #kenboard-debug { left: 502px; }

    .personal-website-safari { left: 22px; }

    #happy-day-home {
        left: 77px;
        top: 187px;
    }
    
    #happy-day-menu {
        left: 22px;
        top: 222px;
    }

    #actordentify-hero-image { right: -80px;}

    #actordentify-fade { 
        width: 170px;
        left: 170px; 
    }

    #actordentify-card p {width: 210px;}

}

/* iPhone 14 Plus */
@media (max-width: 740px) {

    #kenboard-card { 
        grid-column: span 1; 
        order: 1;
    }

    #kenboard-card p { width: 320px; }

    #kenboard-demo-image {
        left: 14px;
        top: 138px;
    }
    
    #kenboard-demo-video {
        left: 43px;
        top: 231px;
    }
    
    #kenboard-splash { display: none; }

    #kenboard-debug { display: none; }

    #personal-website-card p { width: 335px; }

    .personal-website-safari { 
        width: 340px;
        left: 28px; 
        top: 128px;
    }

    #happy-day-home {
        width: 263px;
        left: 131px;
        top: 138px;
    }
    
    #happy-day-menu {
        width: 289px;
        left: 28px;
        top: 164px;
    }

    #actordentify-card { grid-column: span 1; }

    #actordentify-card p.paragraph-small-mobile { display: block;}
    
    #actordentify-card p:not(.paragraph-small-mobile) { display: none;}

    #actordentify-card p { width: 380px; }

    #actordentify-hero-image-mobile { 
        display: block; 
        position: absolute;
        width: 100%;
        top: 95px;
    }

    #actordentify-hero-image { display: none; }

    .dark-mode #actordentify-card .card-images {
        height: 100%;
        width: calc(100% - 2px);
        border-radius: 29px;
        transform: translateX(1px) translateY(-2px);
    }

    #actordentify-fade {
        height: 150%;
        width: 40px;
        top: -100px;
        rotate: 90deg;
    }    

}

/* iPhone 14 */
@media (max-width: 424px) {

    #kenboard-demo-image { left: 11px; }

    #personal-website-card p { width: 283px; }

    .personal-website-safari {  width: 300px; }

    #happy-day-home {
        left: 118px;
        top: 138px;
    }
    
    #happy-day-menu {
        left: 28px;
        top: 164px;
    }

    #actordentify-card p { width: 330px; }

    #actordentify-hero-image-mobile {
        top: 100px;
    }

}
