:root {

    /* light mode colors */
    --lightBackground: #FDFDFD;
    --lightCard: #FFFFFF;
    --lightText: #444444;
    --lightBodyText: #6B6B6B;
    --lightFooter: #F5F5F5;
    --lightHover: #F5F5F5;
    --lightSelected: #ECECEC;

    /* dark mode colors */
    --darkBackground: #262626;
    --darkCard: #323232;
    --darkCardRim: #555555;
    --darkText: #FAFAFA;
    --darkBodyText: #C9C9C9;
    --darkFooter: #2E2E2E;
    --darkHover: #414141;
    --darkSelected: #4D4D4D;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (hover: none) {
    body {
        cursor: pointer;
    }
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

body.light-mode {
    background-color: var(--lightBackground);
    transition: background-color 400ms;
}

body.dark-mode {
    background-color: var(--darkBackground);
    transition: background-color 400ms;
}

#container {
    width: 1040px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* iPad Pro 11" Landscape */
@media (max-width: 1200px) {

    #container { width: 989px; }

}

/* iPad Pro 12.9" Portrait */
@media (max-width: 1120px) {

    #container { width: 862px; }

}

/* iPad Pro 11" Portrait */
@media (max-width: 970px) {

    #container { width: 754px; }

}

/* iPad Mini Portrait */
@media (max-width: 830px) {

    #container { width: 700px; }

}

/* iPhone 14 Plus */
@media (max-width: 740px) {

    #container { width: 394px; }

}

/* iPhone 14 */
@media (max-width: 424px) {

    #container { width: 353px; }

}
