:root {

    /* light mode colors */
    --lightBackground: #FDFDFD;
    --lightCard: #FFFFFF;
    --lightText: #444444;
    --lightBodyText: #6B6B6B;
    --lightFooter: #F5F5F5;
    --lightHover: #F5F5F5;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* border: 2px solid yellow; */
    background-color: var(--lightBackground);
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}

#container {
    border: 2px solid red;
    width: 1040px;
    margin: 0 auto;
}

/* 11inch iPad Pro Landscape */
@media (max-width: 1200px) {

    #container {
        width: 989px;
    }

}

/* 12.9inch iPad Pro Portrait */
@media (max-width: 1120px) {

    #container {
        width: 862px;
    }

}