#work { border: 2px solid red; }

/* iPad Pro 11" Portrait */
@media (max-width: 970px) {

    #ta-card p { width: 300px; }

}

/* iPad Mini Portrait */
@media (max-width: 830px) {

    #hcii-reu-card p { width: 300px; }

    #ta-card p { width: 300px; }

}


/* iPhone 14 Plus */
@media (max-width: 740px) {

    #hcii-reu-card p { width: 284px; }

    #ta-card p { width: 335px; }
    
}

/* iPhone 14 */
@media (max-width: 424px) {

    #hcii-reu-card h3 { width: 300px; }

    #ta-card h3 { width: 265px; }

    #ta-card p { width: 284px; }

}
