/* HCII REU */

#hcii-reu-card p { width: 412px; }

#hcii-reu-landscape-faded {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.dark-mode #hcii-reu-card .card-images {
    height: calc(100% - 1px);
    width: calc(100% - 2px);
    border-radius: 29px;
    left: 1px;
    bottom: 1px;
}

/* TA 112 */

.ta-112-dragon-large {
    position: absolute;
    width: 135px;
    left: 47px;
    top: 169px;
}

.ta-112-dragon-medium {
    position: absolute;
    width: 109px;
    left: 207px;
    top: 184px;
}

.ta-112-dragon-small {
    position: absolute;
    width: 112px;
    left: 321px;
    top: 134px;
}

.light-mode .ta-112-dragon-dark-mode,
.dark-mode .ta-112-dragon-light-mode { display: none; }


/* iPad Pro 11" Landscape */
@media (max-width: 1200px) {

    #hcii-reu-landscape-faded {  width: 105%; }

    .ta-112-dragon-large { left: 39px; }
    
    .ta-112-dragon-medium { left: 199px; }
    
    .ta-112-dragon-small { left: 313px; }
    
}

/* iPad Pro 12.9" Portrait */
@media (max-width: 1120px) {

    #hcii-reu-landscape-faded {  width: 110%; }   
    
    #hcii-reu-card p { width: 350px;}

    .ta-112-dragon-large {
        left: 60px;
        top: 180px;
    }
    
    .ta-112-dragon-medium {
        left: 225px;
        top: 206px;
    }
    
    .ta-112-dragon-small { display: none; }
    
}

/* iPad Pro 11" Portrait */
@media (max-width: 970px) {

    #hcii-reu-landscape-faded {  width: 130%; }  
    
    #hcii-reu-card p { width: 300px;}

    #ta-card p { width: 300px; }

    .ta-112-dragon-large { left: 40px; }
    
    .ta-112-dragon-medium { left: 205px; }

}

/* iPad Mini Portrait */
@media (max-width: 830px) {

    #hcii-reu-card p { width: 300px; }

    #hcii-reu-landscape-faded { width: 140%; }  

    #ta-card p { width: 300px; }

    .ta-112-dragon-large { left: 25px; }
    
    .ta-112-dragon-medium { left: 190px; }

}

/* iPhone 14 Plus */
@media (max-width: 740px) {

    #hcii-reu-card p { width: 330px; }

    #hcii-reu-landscape-faded { 
        width: 100%; 
        bottom: -15px;
    }  

    #ta-card p { width: 335px; }

    .ta-112-dragon-large {
        width: 122px;
        left: 12px;
        top: 120px;
    }
    
    .ta-112-dragon-medium {
        width: 100px;
        left: 150px;
        top: 140px;
    }
    
    .ta-112-dragon-small {
        display: block;
        width: 98px;
        left: 260px;
        top: 115px;
    }
    
}

/* iPhone 14 */
@media (max-width: 424px) {

    #hcii-reu-card p { width: 300px; }

    #hcii-reu-landscape-faded {  bottom: -7px; }  

    #ta-card h3 { width: 265px; }

    #ta-card p { width: 284px; }

    .ta-112-dragon-large {
        width: 100px;
        left: 12px;
        top: 148px;
    }
    
    .ta-112-dragon-medium {
        width: 86px;
        left: 140px;
        top: 165px;
    }
    
    .ta-112-dragon-small {
        display: block;
        width: 85px;
        left: 245px;
        top: 146px;
    }

}
